.tpl_List li{
    border-bottom: 1px solid #eff5fc;
    background-color: #fff;
}
.tpl_List li>a{
    display: box;
    display: -webkit-box;
    padding: 24px 28px 28px 0px;
}
.tpl_List li .p_img{
	width: 70px;
    height: 70px;
    margin-right: 20px;
    margin-left: 20px;
    overflow: hidden;
} 
.tpl_List li .p_img img{
    width: 100%;
    height: 100%;
}

.tpl_List li .p_txt{
    width: 100%;
    overflow: hidden;
	-ms-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    position: relative;
}
.tpl_List li .p_name{
	font-size: 16px;
    color: #333333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
}
.tpl_List li .p_label{
	font-size: 14px;
    color: #4a90e2;
    margin: 8px 0 14px;
}

.tpl_List li .p_other{
    display: box;
	line-height: 24px;
    overflow: hidden;
     margin-top:12px;
}
.tpl_List li .p_other:first-child{
    margin-top:0;
}
.tpl_List li .bankMark{
	display: block;
    width: 60px;
    vertical-align: top;
    height: 30px;
    line-height: 30px;
    border-radius: 14px;
    border: 1px solid #999999;
    text-align: center;
    color: #999999;
    font-size: 16px;
}

.tpl_List li .actMark{
	display:block;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 12px;
    width: 24px;
    height: 24px;
    vertical-align: top;
    text-align: center;
    line-height: 22px;
    color: #f5a623;
    border-radius: 50%;
    border: 1px solid #f5a623;
    overflow: hidden;
}
.tpl_List li .actPng{
    display:block;
    vertical-align: top;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 1px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-background-size: 28px;
    background-size: 28px;
    font-size: 14px;
}
.tpl_List li .actName{
	display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
   box-flex: 1;
   width: 100%;
    font-size: 14px;
    line-height: 30px;
}
.tpl_List li .dist{
	position: absolute;
    top: 27px;
    right: 0px;
    font-size: 14px;
    color: #9B9B9B;
}




