
.tpl_noDataError{
	text-align: center;
	margin-bottom: 60px;
	font-size: 14px;
}


.tpl_noDataError .errorPic{
	display: block;
	margin: 70px auto 12px;
	width: 30%;
}
.tpl_noDataError .txt{
	display:block; 
	color: #999999;
	margin-bottom:8px;

}
.tpl_noDataError .link_youhui{
	display: inline-block;
	color: #3399FF;
	font-size: 14px;

}
